
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1543916541059'); /* IE9*/
  src: url('iconfont.eot?t=1543916541059#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.ttf?t=1543916541059') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1543916541059#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leftround:before { content: "\e604"; }

.icon-bianji:before { content: "\e63f"; }

.icon-shanchu:before { content: "\e897"; }

.icon-add:before { content: "\e674"; }

.icon-time:before { content: "\e684"; }

.icon-setting-selected:before { content: "\e605"; }

.icon-zhuanfa:before { content: "\e6c9"; }

